<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laonianai.mapper.CategoryMapper">
    <select id="findAll" resultType="com.laonianai.entity.Category">
        SELECT id, name, sort, create_time as createTime, update_time as updateTime
        FROM category ORDER BY sort ASC
    </select>

    <select id="findByName" parameterType="String" resultType="com.laonianai.entity.Category">
        SELECT id, name, sort, create_time as createTime, update_time as updateTime
        FROM category WHERE name = #{name}
    </select>

    <insert id="add" parameterType="com.laonianai.entity.Category">
        INSERT INTO category (name, sort) VALUES (#{name}, #{sort})
    </insert>

    <update id="update" parameterType="com.laonianai.entity.Category">
        UPDATE category SET name = #{name}, sort = #{sort} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM category WHERE id = #{id}
    </delete>
</mapper>